
/*body and Section*/
body{
    font-family: 'Poppins', sans-serif;
    margin: ;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
/*H1 css*/
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

/*Div css*/
.width-half{
    width: 50%;
    padding-left:5%;

}
.width-half img{
    width: 50%;
}

/*Button CSS*/
.btn{
    text-decoration: none;
    background-color:rgb(255, 212, 21);
    padding: 7px 30px;
    font: weight 700;

    border-radius: 10px;
    
}