
/*body and Section*/
body{
    font-family: 'Poppins', sans-serif;
    margin:0%;
    padding-bottom: 150px;
}

/*Section Class CSS*/
.flexible-display{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}

.middle-banner{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
}
.experiances{
 background-image: url(images/exp-bg.png);
 background-repeat: no-repeat;
 background-position: left;
}
/*H1 css*/
h1{
    font-size: 50px;
}

/*h2 css*/
h2{
    font-size:40px;
}
.orange-color{
    color: orange;
}

/*Div css*/
.width-half{
    width: 50%;
    padding-left:5%;

}
.width-half img{
    width: 80%;
}
.experiance-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;
    border-left: 10px solid blue;
}
/*Button CSS*/
.btn{
    text-decoration: none;
    background-color:rgb(255, 212, 21);
    padding: 7px 30px;
    font: weight 700;

    border-radius: 10px;
    
}

/* ID css */
#full-stack{
    border-left: 7px solid tomato;
}

/* footer css*/
.footer{
    text-align:center;
}
